* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color: #111;
    background-color: #f4f4f4;
    margin: auto;
}

header {
    text-decoration: underline;
    border: 2px solid black
}

h1 {
    padding: .5em 0em;
    text-align: center;
    background-color: gray;
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 1.5em;
    border: 2px solid darkslategray;
    border-radius: .2rem;
    background-color: lightgray;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid black;
}

legend {
    padding: .5rem;
    color: darkblue;
    font-size: 1em
}

label, input, button, select, textarea {
    font-family: 'Times New Roman', Times, serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .2rem;
    font-size: 1rem;
    margin: .4rem 0;
}

input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
}

button {
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem 0;
}

button:hover {
    background-color: darkgray;
    cursor: pointer;
}

footer {
    font-size: .6em;
    text-align: center;
    padding: 1em;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-coluns 1fr 2fr;
}